body{
    background: white;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: white;
    padding: 0.5rem;
}
header h1{
    margin: 0;
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid pink;
}
.container{
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 500;
}
.post{
    background: white;
    margin-top: 2rem;
}
.post-header:first-child{
    display: flex;
    justify-content: start;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: pink;
    border-radius: 15px;
}
.post img{
    width: 100%;
}
img {
    transition: all 1s;
    object-fit: cover;
}
img:hover {
    transform: scale(1.1);
}
.text {
    margin-top: 2rem;
}

